:root {
    --s-widget-top: 90%;
    --s-widget-middle: 50%;
    --s-widget-bottom: 10%;
}
.s--button-container {position:fixed;bottom:50px;right:30px;cursor:pointer;z-index:102;}
.s--button {width:60px;height:60px;background:#A11692;text-decoration: none;padding:1px;border-radius: 100%;box-shadow: 5px 5px 5px #aaaaaa;}
.s--button .svg {margin: 19px 5px 0 19px; width:22px; height:22px; background:white;mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat;}

iframe {
    background-image: url("https://www.sympoq.com/widget/loading.gif");   
    background-repeat: no-repeat;
    background-position: center;
}
.modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #131313;
	opacity: .25;
	filter: alpha(opacity=25);
	z-index: 101;
}
.modal-window {
	position: fixed;
	bottom: 3%;
	right: 1%;
	margin: 0;
	padding: 5px;
	z-index: 102;
	background: #fff;
	border: solid 1px #131313;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.close-window {
	position: absolute;
	width: 47px;
	height: 47px;
	right: -23px;
	top: -23px;
	background: transparent url(https://www.sympoq.com/widget/close-button.png) no-repeat scroll right top;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
}
